* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin:0;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png);
}

header {
    background-color: aqua;
    background-image:url("https://unsplash.com/photos/a-close-up-of-a-leafy-plant-with-water-droplets-on-it-sPVSHAvNw04"
    );
    color: rgb(7, 7, 7);
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {

    font-size: 1.5em;
}

h3 {
    font-size: 1.25rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #002d71;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

nav ul li a {
    display: block;
    color: #ebc3c3;
    text-decoration: none;
    background-color: #0979ad;
    padding: 16px 30px;
    margin: 0px 20px;
    border-radius: 12px;
    transition: background-color 0.20s ease;
}

nav ul li a:hover {
    background-color: #2f94c3;
}

/*******layout*****/
.container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    margin: 0 auto;
    width: min(95%,75rem);
}

.container > * {
    grid-column: span 12;
}

/*Desktop Layout*/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
        padding-left: 20px;
    }

    .col-span-4 {
        grid-column: span 4;
    }
}

.pic {
    margin-top: 40px;
    border-radius: 100%;
    padding: 5px;
    width: 200px;
    border: 4px solid darkblue;
}

footer {
    padding-left: 20px;
}

#proj {
    text-align: center;

}