*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin:0;
    background-image:url(https://www.toptal.com/designers/subtlepatterns/uploads/moroccan-flower.png);
}

header {
    background-color: aqua;
    background-image:url("https://unsplash.com/photos/a-close-up-of-a-leafy-plant-with-water-droplets-on-it-sPVSHAvNw04"
    );
    color: rgb(7, 7, 7);
    padding: 2rem;
    order: 1;
}

h1 {
    font-size: 2rem;
}

h2 {

    font-size: 1.5em;
}

h3 {
    font-size: 1.25rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #002d71;
    order: 2;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

nav ul li a {
    display: block;
    color: #ebc3c3;
    text-decoration: none;
    background-color: #0979ad;
    padding: 16px 30px;
    margin: 0px 20px;
    border-radius: 12px;
    transition: background-color 0.20s ease;
}

nav ul li a:hover {
    background-color: #2f94c3;
}
a:link, a:visited{
    color:#69c3ed;
    text-decoration: none;
}
a:hover{
    color:#0c1e27;
    text-decoration: underline;
}
/*******layout*****/
.container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    margin: 0 auto;
    width: min(95%,75rem);
}

.container > * {
    grid-column: span 12;
}

.col-span-8 {
    order: 3;
}

.col-span-4 {
    order: 4;
}

/*Desktop Layout*/
@media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
        padding-left: 20px;
        order: 3;
    }

    .col-span-4 {
        grid-column: span 4;
    }
}

.pic {
    margin-top: 40px;
    border-radius: 100%;
    padding: 5px;
    width: 200px;
    border: 4px solid darkblue;
}

footer {
    padding-left: 20px;
    order: 5;
}

#proj {
    text-align: center;

}

/******* Components *****/
.button{
    color:rgb(1, 0, 0);
    background-color:#69c3ed;
}

/* media styles */
@media (max-width:720px) {

    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    main {
        grid-template-columns: auto;
        row-gap: 0;
    }

    .col-span-8 {
        order: 4;
    }
    
    .col-span-4 {
        order: 3;
    }
}


.card-stack {
  display: flex; /* Change display property to flex */
  flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
  gap: 8px;
  margin-bottom: 40px;
}

.card {
    display: flex;
  flex: 1 1 200px; /* Flex properties to control width */
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  margin-right: 8px; /* Add margin between cards */
}

.card-body {
  padding: 20px;
  display:absolute;
}

.card-heading {
  margin-top: 0;
}

.card-subtitle {
  color: #888;
}

.card-img {
  width: 100%;
}

.card-btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgb(48,110,193);
  color: #fff;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.card-btn:hover {
  background-color: rgb(68,130,213);
}
