
body {
  background-color: #fef748;
}

nav ul {
display: flex;
text-align: center;
justify-content: center;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

nav ul li a {
  display: block;
  color: #f30909;
  text-decoration: none;
  padding: 16px 30px;
  margin: 0px 20px;
  border-radius: 12px;
}

nav ul li a:hover {
  background-color: #f30303;
}
a:link, a:visited{
  color:#fb0b0b;
  text-decoration: none;
/*******layout*****/
.wrap {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrap > * {
    grid-column: span 12;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: blue;
}

li {
  text-align: center;
}

nav li a {
  display: inline-block;
  padding: 8px;
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align: center;
}

img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-left: 5%;
}

